body {
    font-family: 'Futura', sans-serif;
    background-color: #722f37;
    color: #ccac00;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: Snell Roundhand, cursive;
    text-align: center;
    font-size: 3.5em;
}

h3 {
    font-size: 1.5em;
    text-align: center;
}

.logo {
    display: block;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    max-height: 50rem;
    max-width: 100%;
    /* filter: drop-shadow(0 0 0.75rem darkblue); */
    position: relative;
}

.search-form {
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
}

input[type=text] {
    align-items: center;
    justify-content: center;
    width: 60%;
    font-size: large;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#new-drink {
    align-content: center;
    justify-content: center;
    position: relative;
    padding: 15px;
}

label {
    font-size: 2em;
    justify-content: center;
}

input[type=submit] {
    align-items: center;
    justify-content: center;
    width: auto;
    font-size: large;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;   
}

input[placeholder] {
    font-style: italic;
    font-size: large;
    text-align: center;
}

.line-break {
    padding: 25px;
    width: 100%;
}

.nav-bar {
    display: inline;
    width: 100%;
    list-style-type: none;
    text-align: center;
    position: relative;
    bottom: 0;
}

a {
    color: #f1f1f1;
}

.collection-item {
    border: 2px solid black;
    padding: 3%;
    max-width: 25%;
}

.drink-name {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .drink-name:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .drink-details {
    padding: 2px 16px;
  }

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    /* width: 100%;
    height: 100%; */
    width: auto;
    height: auto;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 1px solid #f1f1f1;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    width: auto;
    height: auto;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
    font-size: larger;
  }
  
  /* Style the back side */
  .flip-card-back {
    /* background-color: dodgerblue; */
    background-color: #ccac00;
    color: #722f37;
    /* color: white; */
    transform: rotateY(180deg);
    height: auto;
    padding: 1em;
  }

#allDrinkSearchBar {
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
}

.DrinkCollection {
    display: grid;
}

.age-verification {
    font-size: larger;
    text-align: center;
    align-content: center;
    margin: auto;
    display: block;
    position: relative;
}

button {
    font-size: large;
}

.age-verification {
        font-family: 'Futura', sans-serif;
        /* font-size:  */
        display: inline-block;
    }

.invalid {
    vertical-align: middle
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .entry-buttons {
      position: relative;
      width: auto;
  }

  .drink-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 1px;
      margin: 10%;
      justify-items: center;
  }