body {
    font-family: 'Futura', sans-serif;
    background-color: #722f37;
    color: #ccac00;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: Snell Roundhand, cursive;
    text-align: center;
    font-size: 3.5em;
}

.logo {
    display: block;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    max-height: 50rem;
    max-width: 100%;
    /* filter: drop-shadow(0 0 0.75rem darkblue); */
    position: relative;
}

.search-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    align-items: center;
    width: 50%;
    font-size: larger;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

label {
    font-size: 2em;
    display: flex;
    justify-content: center;
}

input[type=submit] {
    align-items: center;
    justify-content: center;
    width: auto;
    font-size: larger;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;   
}